.container{
    width: 100%;
    display: flex;
    gap: 163px;
    align-items: center;
    padding: 0px;
    border: none;
    margin: 0px;
    transition: all 0.2s linear, gap 0s;
}

.container > div{
    display: flex;
    align-items: center;
    gap: 18px;
}

.radio{
    width: 31px;
    height: 31px;
    margin: 0px;
    border: 1px solid #5E6E85;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio:hover{
    border-color: #345FF6;
}

.radio > input{
    display: none;
}

.radio_checked{
    width: 33px;
    height: 33px;
    transition: all 0s;
}


.label{
    color: var(--Gunmetal, #253347);
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

@media(max-width: 1010px){
    .container{
        gap: 0px;
        justify-content: space-between;
    }
}

@media(max-width: 880px){
    .container{
        gap: 224px;
        justify-content: start;
        transition: all 0.2s linear, gap 0.2s linear;
    }
}

@media(max-width: 550px){
    .container{
        justify-content: start;
        gap: 53px;
    }
}